{% extends 'base.html' %}


{% block title %}
Mystify-Home
{% endblock %}


{% block content %}

<div class="fixed inset-0 z-0">
    <img src="../static/img/assets/Home.png" alt="Background" class="w-full h-full object-cover object-top brightness-[0.8]">
</div>

<div class="relative z-10 min-h-[calc(100vh-100px)] flex items-center pt-[23vh]">
    <div class="w-full px-4 md:px-12 lg:px-16">
        <div class="flex flex-col items-center md:items-start">
            <div class="flex flex-col items-center w-full max-w-2xl lg:max-w-3xl">
                <div class="text-white text-xl md:text-3xl lg:text-4xl flex flex-col items-center absolute">
                    <span class="font-artifact leading-3">Mystery Inc.</span> <br>
                    <span class="font-fontdinerdotcom leading-3">Presents:</span> 
                </div>
                <img src="../static/img/assets/Group_5-3.png" alt="Mystify Logo" class="w-full h-auto mt-10 lg:mt-8">

            </div>
        </div>
    </div>
</div>

{% endblock %}