{% extends 'base.html' %}

{% block title %}
Mystify - Update Profile 
{% endblock %}

{% block content %}



<div class="max-w-64 flex flex-col bg-white shadow-xl items-center rounded-xl p-4 gap-4 relative -rotate-12 left-20">

    <img src="../static/img/assets/clip.png" alt=""
    class="left-[-25px] top-8 absolute h-8"
    >

    <img src="../static/img/user/default.png" alt=""
        class="rounded-xl object-cover"    
    >
    <div class="flex items-center justify-between gap-8">
        <img src="../static/img/assets/stamp.png" alt=""
        class="h-16 w-16"
        >
        <img src="../static/img/assets/sign.png" alt=""
        class="h-16"
        >
    </div>
</div>



 





{% endblock %}
